@import "tailwindcss";

@font-face {
  font-family: 'Avgard Regular';
  src: url('/fonts/AVGARDD.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avgard Narrow';
  src: url('/fonts/AVGARDN.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avgard Oblique';
  src: url('/fonts/AVGARDDO.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avgard Book';
  src: url('/fonts/avtgardebookbt.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avgard Demi Bold';
  src: url('/fonts/avtgardedemibt.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avgard Demi Oblique';
  src: url('/fonts/avtgardedemioblique.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-avgard-regular: 'Avgard Regular', sans-serif;
  --font-avgard-narrow: 'Avgard Narrow', sans-serif;
  --font-avgard-oblique: 'Avgard Oblique', sans-serif;
  --font-avgard-book: 'Avgard Book', sans-serif;
  --font-avgard-demi-bold: 'Avgard Demi Bold', sans-serif;
  --font-avgard-demi-oblique: 'Avgard Demi Oblique', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}
